<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue 列表渲染</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
<h1>列表渲染</h1>
<div id="example-1">
	<ul>
		<li v-for="(item, index) in items">
			{{parentMessage }} - {{index}} - {{ item.message }}
		</li>
		<ul>
	</ul>

	<ul>
		<template v-for="item in items">
			<li>{{ item.message }}</li>
			<li class="divider">divider</li>
		</template>
	</ul>

	<p>
		<span v-for="n in 10">{{n}}</span>
	</p>
</div>


<script>

Vue.component("template")

var example1 = new Vue({
	el: '#example-1',
	data: {
		parentMessage: 'Parent',
		items: [
			{message: 'Foo' },
			{message: 'Bar' }
		]
	}
})



</script>
</body>
</html>
