<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<title>Vue 条件渲染</title>
<script src="https://unpkg.com/vue/dist/vue.js"></script>

</head>
<body>
<h1>条件渲染</h1>
<div id="watch-example">
	<div v-if="Math.random() > 0.5"> Now you see me </div>
	<div v-else> Now you don't 	</div>

	<div v-if="type === 'A'"> A </div>
	<div v-else-if="type === 'B'"> B </div>
	<div v-else-if="type === 'C'"> C </div>
	<div v-else> Not A/B/C </div>

	<div v-if="loginType === 'username'">
		<label>Username</label>
		<input placeholder="Enter your username" key="username-input">
	</div>
	<div v-else>
		<label>Email</label>
		<input placeholder="Enter your email address" key="email-input">
	</div>
	<button @click="changeLoginType()">Toggle login type</button>

	<h1 v-show="ok">Hello!</h1>
</div>

<script>
Vue.component("my-component", {
	template : '<p class="foo bar">component</p>'
})

var vm = new Vue({
	el : "#watch-example",
	data : {
		type : '',
		loginType : "username",
		ok : 1
	},
	methods : {
		changeLoginType : function (){
			if( this.loginType === "username" ){
				this.loginType = "email"
			}else{
				this.loginType = "username"
			}
		}
	}
});




</script>
</body>
</html>
